.contact-section {
    height: fit-content;
    width: 100%;
    background: #fff;
    .success {
        display: none;
    }
    .contact-div {
        margin: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: $bgPrimary;
            width: 50%;
            text-align: center;
        }
        .alert {
            text-align: center;
            background: #79c879;
            color: $textSecondary;
            font-weight: 600 !important;
            padding: 1rem;
            margin-bottom: 0.75rem;
            display: none;
        }
        form {
            text-align: center;
            margin: 1rem;
            width: 15rem;
            .input {
                padding: 0.5rem;
                margin: 0.5rem 0;
                width: 100%;
                color: $bgPrimary;
                background: $bgForm;
                border: none;
                box-shadow: inset $formNMDarkShadow, inset $formNMLightShadow;
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                &::placeholder {
                    font-family: 'Open Sans', sans-serif;
                    color: $bgPrimary;
                }
            }
            button {
                margin: 1rem 0 2rem 0;
                padding: 1rem;
                border: none;
                color: $accentColor;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: 700 !important;
                background: $bgPrimary;
                &:focus {
                    outline: none;
                    transform: scale(0.97);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .contact-section {
        .contact-div {
            form {
                button {
                    margin-bottom: 5rem !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .contact-div {
        h2 {
            width: 100% !important;
        }
    }
}