// Main Styling
* {
    box-sizing: border-box;
}
.project-section {
    background: $bgPrimary;
    color: $textSecondary;
    font-weight: 500;
    height: fit-content;
    .projects__main {
        padding: 1rem 0;
        margin: 0 1rem;
        .project {
            padding: 1rem 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-top: $textSecondary 2px solid;
            .column {
                flex: 50%;
                max-width: 45%;
                line-height: 1.2rem;
                padding: 0 1rem;
                .project__title {
                    font-weight: 800;
                }
                p {
                    line-height: 1.4rem;
                }
                .img {
                    width: 100%;
                    border-radius: 20px;
                    border: $textSecondary 1px solid;
                    &:hover {
                        transform: scale(0.95);
                        transition: transform ease 200ms;
                    }
                }
                .brand__img {
                    padding: 0.5rem;
                    max-height: 20rem;
                }
                .tech {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .des {
                        p {
                            &::before {
                                content: "🖋️ ";
                            }
                        }
                        .design {
                            list-style: none;
                            padding-left: 0;
                            .design__item {
                                text-align: center;
                                text-transform: uppercase;
                                margin-bottom: 0.5rem;
                                border: $accentColor 1px solid;
                                border-radius: 15px;
                                padding: 0.45rem;
                            }
                        }
                    }
                    .front {
                        p {
                            &::before {
                                content: "🖥️ ";
                            }
                        }
                        .frontend {
                            list-style: none;
                            padding-left: 0;
                            .frontend__item {
                                text-align: center;
                                text-transform: uppercase;
                                margin-bottom: 0.5rem;
                                border: $accentColor 1px solid;
                                border-radius: 15px;
                                padding: 0.45rem;
                            }
                        }
                    }
                    .back {
                        p {
                            &::before {
                                content: "📁 ";
                            }
                        }
                        .backend {
                            list-style: none;
                            padding-left: 0;
                            .backend__item {
                                text-align: center;
                                text-transform: uppercase;
                                margin-bottom: 0.5rem;
                                border: $accentColor 1px solid;
                                border-radius: 15px;
                                padding: 0.45rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Media Queries
@media screen and (max-width: 1000px) {
    .column {
        flex: 100% !important;
        max-width: 100% !important;
        justify-content: center;
    }
}