$textPrimary: #b6b6b6;
$textSecondary: #e7e7e7;
$bgPrimary: #23232e;
$bgSecondary: #141418;
$bgForm: #f3f3f3;
$formNMDarkShadow: 5px 5px 13px #e0e0e0;
$formNMLightShadow: -5px -5px 13px #ffffff;
$contactBtnDarkShadow: 5px 5px 13px #e0e0e0;
$contactBtnLightShadow: -5px -5px 13px #ffffff;
$contactBtnGradient: linear-gradient(145deg, #ffffff, #e6e6e6);
$transitionSpeed: 450ms;
$accentColor: #c76a00;
$introBgPrimary: #28406d;
$btnGradient: linear-gradient(145deg, #252531, #202029);
$nmDarkShadow: 4px 4px 8px #1e1e27;
$nmLightShadow: -4px -4px 8px #282835;
$logoDarkShadow: 4px 4px 10px #d9d9d9;
$logoLightShadow: -4px -4px 10px #ffffff;
$html5Logo: #e34c26;
$css3Logo: #264de4;
$jsLogo: #f0db4f;
$reactLogo: #61dbfb;
$pythonLogo: #306998;
$nodeLogo: #3c873A;
$npmLogo: #cc3534;
$emberLogo: #f05e1b;
$bootstrapLogo: #563D7c;
$sassLogo: #cc6699;
$gitLogo: #f34f29;
$sketchLogo: #fb970d;
$swiftLogo: #f44126;
$linuxLogo: #e59f01;
$expBack: #f5f7f8;
$cardBack: #ffffff;
$cardShadow: 0 2px 5px rgba(0,0,0,0.1);
$cardHoverShadow: 0 4px 5px (0,0,0,0.2);
